*{
    margin: 0,;
    padding: 0,;
    box-sizing: border-box;
}
.container{
    /* border: 3px solid red; */
    height: 100vh;
}
.barra{
    /* border: 3px solid blue; */
    height: 10vh;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.titulo{
    /* border:px solid magenta; */
    height: 5vh;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}
.container1{
    /* border:3px solid green; */
    height: 85vh;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.foto{
    /* border:3px solid yellow; */
    height: 70%;
    width: 50%;
    margin-right: 20px;
    
}
.texto{
    /* border:5px solid black;
    height: 60%; */
    width: 50%;
    display: flex;
    flex-wrap:wrap;
}
.foto img{
    height: 100%;
    width: 100%;
}
.texto p{
font-size: 15px;
text-align: center;
}
a{
    text-align: center;
    color: white;
    text-decoration: none;
}





 